:root {
    --color-spruce: #0f614e;


    --color-robin-egg:#86e0f9;
    --color-white: #fff;
    --color-dark-grey-blue: #0c1423;

    --lato-font : 'Lato', sans-serif;
    --barlow-font: 'Barlow', sans-serif;

}
$bp-very-large: 86em;  // 1278px   
$bp-largest: 75em;     // 1200px
$bp-large: 68.75em;    // 1100px
$bp-medium: 54em;   // 864px
// $bp-small: 37.5em;     // 600px
$bp-smallest: 31.25em; // 500px



// @media only screen and (max-width: $bp-medium) {
//     padding: 2.5rem 0;
// }

* {
    margin: 0;
    padding: 0;
}
*::before,
*::after, 
* {
    box-sizing: inherit;
}
html {
   box-sizing: border-box;
   font-size: 62.5%;
   @media only screen and (max-width: $bp-very-large) {
    font-size: 55%;
}
@media only screen and (max-width: $bp-largest) {
    font-size: 46%;
 }

}


body {
    font-family: var(--lato-font);
    font-weight: 400;
    font-size: 2rem;
    line-height: 3.2rem;
    color: var(--color-white);
};
