////////////////////////////////////////
////// HEADER
.header {
    height: 100vh;
    background-image: linear-gradient(
        to right bottom,
        rgba(#000, 0.6),
        rgba(#000, 0.7)),
    url(../img/header-image.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    
    &__text-box {
        color: var(--color-white);
        font-family: var(--barlow-font);
        font-size: 13.8rem;
        line-height: 12.6rem;
        font-weight: bold;
        text-transform: uppercase;
        position: absolute;
        top: 30%;
        left: 10%;
        display: block;
        width: 30%; 
    }
    &__image {
        position: absolute;
        bottom: -26%;
        right: 0;
        display: block;
    }
}





////////////////////////////////////////
////// NAVIGATION 

.navigation {
    margin-right: 5rem;
    &__list {
        display: flex;
        justify-content: flex-end;
    }

    &__item {
        list-style: none;
        padding: 3rem 2.5rem;
    }
    &__link {
          color: currentColor;
          text-decoration: none;
          text-transform: uppercase;
          font-family: var(--barlow-font);
          font-size: 2rem;
          font-weight: bold;
          display: block;
          transition: all .2s;

          &:hover {
              color: var(--color-robin-egg);
          }
    
    }
    
}


////////////////////////////////////////
////// UNDER SEA SECTION 

.under-sea {
    & > .container > .btn-inline {
        margin: auto;
    }
    &__heading {
         font-family: var(--barlow-font);
         font-size: 4.2rem;
         font-weight: bold;
         text-transform: uppercase;
         text-align: center;
         margin-bottom: 5rem;
    }

    &__paragraph {
          font-family: var(--lato-font);
          font-weight: 400;
          font-size: 2rem;
          margin-bottom: 3rem;
    }
    
}



////////////////////////////////////////
////// Reusebale button 

.btn-inline {
        border: none;
        background-color: var(--color-robin-egg);
        padding: 1rem 2rem;
        font-size: 1.4rem;
        color: #000;
        text-transform: uppercase;  
        text-decoration: none;
        display: flex;
        transition: all .2s;
        
        &:hover {
            color: var(--color-white);
    }
       &:focus {
         outline: none;
         animation: pulsate 1s infinite;
         color: var(--color-white);
    }
}
@keyframes pulsate {
    0% {
        transform: scale(1);
        box-shadow: none;
    }

    50% {
        transform: scale(1.05);
        box-shadow: 0 1rem 4rem rgba(0,0,0,.25);
    }

    100% {
        transform: scale(1);
        box-shadow: none;
    }
}

////////////////////////////////////////
////// addition 

.addition {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    &__box {
       flex: 0 0 45%;
      &:first-child {
          box-shadow: 3rem 3rem 0 var(--color-robin-egg);
          margin-top: -3rem;
      }
      &:last-child {
        box-shadow: -3rem  3rem 0 var(--color-robin-egg);
        margin-bottom: -3rem;
    }

       &:nth-child(3){
           text-align: right;
       }
        &-photo {
           max-width: 100%;
           display: block;        
        }
        &-heading {
            font-family: var(--barlow-font);
            font-size: 3.2rem;
            font-weight: bold;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
        &-paragraph {
           margin-bottom: 3rem;
             
        }
        &-btn {
            font-size: 2rem;
            font-family: var(--barlow-font);
            line-height: 3.2rem;
            letter-spacing: 1px;
            text-align: center;
            text-transform: uppercase;
            border: none;
            padding: 1.5rem 3rem;
            color: var(--color-white);
            background-color: var(--color-dark-grey-blue);
            border-radius: 3px;
        }
     
    }
  
}

////////////////////////////////////////
////// icons box 

.icon-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &__section {
        flex: 0 0 40%;
       &--icon {
           background-color: var(--color-robin-egg);
           height: 4rem;
           width: 4rem;
           border-radius: 50%;

        &-svg {
            fill: black;
            width: 2rem;
            height: 2rem;
            align-self: center;
        }
       }
        
        &-heading {
            font-family: var(--barlow-font);
            font-size: 8rem;
            text-transform: uppercase;
            line-height: 9.2rem;
        }
        &-pargraph {
            
        }
    }
}

////////////////////////////////////////
////// BANNER 
    .banner {
       
        &__photo {
            display: block;
            max-width: 100%;
            width: 100%;
            // margin: auto;
        }
    }


////////////////////////////////////////
////// profile section 

.profile {
display: flex;
    .profile__box {
        &:last-child {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-left: 7rem;
        }
        &:first-child {
            box-shadow: 3.5rem 3.5rem 0 var(--color-robin-egg);
        }

        &-photo {
            display: block;
            flex: 0 0 60%;
           
        }
        &-heading {
          font-size: 4.2rem;
          font-family: var(--barlow-font);
          letter-spacing: 1px;
          text-transform: uppercase;
          margin-bottom: 4rem;

        }
        &-pargraph {
          flex-grow: 1;
        }
    }
}




////////////////////////////////////////
////// GALLERY 
.gallery {
    display: flex;
    flex-wrap: wrap;

    &__item {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex: 0 0 30%;
        margin: auto;
    }
    &__photo {
         max-width: 100%;
         display: block;
        
    }
}

////////////////////////////////////////
////// FOOTER 

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
          
    &__paragraph {
       color: var(--color-dark-grey-blue);
       font-size: 1.6rem;


    }
}



////////////////////////////////////////////////////////////// 
//////// BLOG STYLES 

/* BLOG HEADER */

.header-blog {
    background-image: linear-gradient(
        to right bottom,
        rgba(#000, 0.6),
        rgba(#000, 0.7)),
        url(../img/blog-header.jpg);
        height: 100vh;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        &__heading {
        font-size: 8rem;
        font-family: var(--barlow-font);
        line-height: 9.2rem;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 7rem;

        }
        
}


//////////////////////////////////////////


/////////////layout 
.content {
    background-color: var(--color-dark-grey-blue);
    display: flex;
    padding-top: 3rem;
    position: relative;
}
.about {
    flex: 0 0 35%;
    padding-right: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10rem;
    margin-right: 10rem;
    
}
.discovery {
    flex: 1;
}

///////////////////// gallery left 

.gallery {
    box-shadow: 3rem 0 0 var(--color-spruce);
    &__photo {
         width: 100%;
         display: block;
         margin-top: -3rem;    
    }
}

.box {
        background-color: var(--color-spruce);
        margin-left: 6rem;
        margin-right: -3rem; 

    &__heading {
        font-family: var(--barlow-font);
        font-size: 3.2rem;
        letter-spacing: 1px;
        text-transform: uppercase;
        align-self: flex-start;
        margin-left: -0.9rem;
    }
    
    &__paragraph {
        margin-bottom: 5rem;
    }

    &__list {
        list-style-position: inside;
        &-item {

        }
    }
}


///////////////// discovery right side 

.description {
 display: flex;
 flex-direction: column;
 

    &__gallery {
        display: block;
        max-width: 100%;
        box-shadow: -3rem 3rem 0 var(--color-robin-egg);
        // position: absolute;
        // top: -10rem;
        // right: 0;
        margin-top: -30rem;
        
    }
}
.details {
        margin-top: 7rem;
        padding-right: 20rem; 
        position: relative;      
         &:before {
            content: "";
            position: absolute;
            top: 8px;
            left: -30px;
            width: calc(75%);
            height: 100%;
            border-bottom: 5px solid var(--color-robin-egg);
          }
          &:after {
            content: "";
            position: absolute;
            left: -30px;
            top: -50px;
            height: calc(100% + 5.5rem);
            width: 100%;
            border-left: 5px solid var(--color-robin-egg);
          }

        &__heading {
        font-size: 3.2rem;
        font-family: var(--barlow-font);
        text-transform: uppercase;

        }
        &__paragraph {
           &:last-of-type {
               margin-top: 4rem;
           }
        }
}

////////////////////////////////////// comment section 

.comment {
  margin: 5rem 0 ; 
  padding-right: 20rem;

    &__heading {
        font-size: 3.2rem;
        font-family: var(--barlow-font);
        text-transform: uppercase;
        margin-bottom: 6rem;
        letter-spacing: 1px;
    }
    &__user {
       display: flex;
     justify-content: flex-start;
     align-items: flex-start;
    }
    &__photo {
        max-width: 100%;
        display: block;
        margin-right: 3rem;
        width: 6rem;
        height: 6rem;
    }

    &__user-box {

    }

    &__user-date {

    }
    &__user-paragraph {

    }
    
}


///////////////////////////////////// 
///// Form 
.visuallyHidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.contact-form {

}

.form {
    display: flex;
    flex-direction: column;
   
}
.fieldset {
    display: flex;
    justify-content: space-between;
}

.form-control {
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--color-robin-egg);
  color: var(--color-white);
  font-size: 1.8rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  flex: 0 0 40%;
}

.form-area {
  border: 1px solid var(--color-robin-egg);
}
button[type=submit]{
    border:none;
    color:var(--color-white);
    text-transform: uppercase;
    min-width: 320px;
    padding: 10px 20px;
    border-radius: 4px;
    margin: 0 auto;
    width: 100%;
  }



  ////////////////////////////////////////// form section

  .header-form {
    height: 60vh;
    background-image: url(../img/contact-header.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }
.contact-body {
    background-color: var(--color-dark-grey-blue);

}
  .contant-page {
      display: flex;
      align-items: center;
  }

  .address {
     flex: 0 0 35%;
     margin-right: 4rem;
    &__icon {
      width: 3rem;
      height: 3rem;
      fill: white;
      margin-right: 2rem;
    }
  }
  .contact-section-form {
      flex: 1;
      background-color: var(--color-spruce);
      padding: 3rem;
      box-shadow: -3rem 3rem 0 var(--color-robin-egg); 

  }

  ::-webkit-input-placeholder {
      color: #fff;
      padding: 1rem;

  }

  .submit {
      background-color: var(--color-spruce);
  }
  .submit-form {
      background-color: var(--color-dark-grey-blue);
  }