.container {
    max-width: 120rem;
    margin: 8rem auto;
    width: 80%;
}


.under-sea {
    border: none;
    background-color: var(--color-dark-grey-blue);
    height: 70rem;
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.addition {
    background-color: var(--color-spruce);
  
}
.icon-box {
    background-color: var(--color-dark-grey-blue);
    height: 60rem;
    padding-top: 14rem;
}

.profile {
    background-color: var(--color-dark-grey-blue);
}
.gallery {
    background-color: var(--color-spruce);
}
.footer {
    background-color: var(--color-robin-egg);
}

//////////////////////////////////////// 
///// Blog.html STYLES 
 