.container {
    max-width: 120rem;
    margin: 8rem auto;
    width: 80%;  
    // @media only screen and (max-width: $bp-medium) {
    //     width: 100%;
    //     margin: 0 auto;
    //     max-width: 100%;
    // }
}


.under-sea {
    border: none;
    background-color: var(--color-dark-grey-blue);
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media only screen and (max-width: $bp-smallest) {
        padding-top: 4rem;
    }

}

.addition {
    background-color: var(--color-spruce);  
}
.icon-box {
    background-color: var(--color-dark-grey-blue);
    padding:7rem 0 7rem 0;
}

.profile {
    background-color: var(--color-dark-grey-blue);
}
.gallery {
    background-color: var(--color-spruce);
}
.footer {
    background-color: var(--color-robin-egg);
}

//////////////////////////////////////// 
///// Blog.html STYLES 
 